@font-face {
  src: url("../../fonts/coresans-regular-subset.woff2");
  font-family: core_sans;
  font-weight: lighter;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: core_sans, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-size: 20px;
}

body {
  background: #eee;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  display: flex;
}

h1 {
  font-weight: normal;
}

div {
  height: 100vh;
  padding: 20px;
}

div.left {
  background: #223;
  border-right: 5px solid #000;
  width: 20vw;
  position: fixed;
}
div.left * {
  color: #fff;
}
div.right {
  position: absolute;
  right: 0;
  width: 80vw;
  background: #eee;
}

div.right * {
  color: #000;
}

div.left ul li:nth-child(1) {
  font-size: 1.5rem;
}

div.left ul li {
  font-size: 1rem;
  text-align: left;
  text-transform: capitalize;
}

p {
  text-align: justify;
}

.form {
  padding: 5px 20px;
}

select,
option {
  font-size: 0.95rem;
  padding: 0.3em 0.5em;
  border: 1px solid #ddd;
  outline: none;
  width: 300px;
  text-transform: capitalize;
}

input[type="text"],
input[type="submit"],
input[type="reset"] {
  width: 300px;
  font-size: 0.95rem;
  padding: 0.3em 0.5em;
  border: 1px solid #ddd;
  outline: none;
  height: 40px;
}

input[type="submit"],
input[type="reset"] {
  border: none;
  padding: 0.3em 1em;
  background: linear-gradient(45deg, rgb(71, 71, 71), rgb(41, 41, 41));
  color: #fff;
  cursor: pointer;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-transform: capitalize;
}

input[type="file"] {
  width: 150px;
  height: 40px;
  outline: none;
  overflow: hidden;
}

input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

input[type="file"]::before {
  width: 150px;
  height: 40px;
  color: #ffff;
  content: "Select An Image";
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(15, 202, 124);
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 0.9rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  z-index: 1;
  backface-visibility: hidden;
}
label {
  text-transform: capitalize;
}

table {
  margin: 20px;
  border-collapse: collapse;
}

td {
  padding: 10px;
  height: 50px;
}
.form tr:last-child td:first-child {
  display: flex;
  justify-content: flex-end;
  width: 250px;
}

.table table tbody tr td img {
  height: 50px;
}
.table table thead tr {
  background: rgb(91, 212, 212);
}
.table table tbody tr {
  background: #cdd;
}
.table table tbody tr:nth-child(odd) {
  background: #8dd;
}
.table table tr td {
  padding: 10px 20px;
}

.table table tbody tr td a {
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
}

.delete {
  background: rgb(211, 44, 22);
}

.edit {
  background: rgb(23, 180, 23);
}
/* pagination starts */
ul.pagination {
  position: relative;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: center;
  margin: 20px;
  padding: 2px;
}
ul.pagination li a {
  position: relative;
  display: inline-block;
  padding: 5px;
  color: #999;
}
ul.pagination li a.active {
  color: #000;
}
ul.pagination li a:hover {
  color: #000;
}
/* pagination ends */
